pizzashop-web/node_modules
pizzashop-web/dist
pizzashop-web/logs
pizzashop-web/*.log
pizzashop-web/npm-debug.log*
pizzashop-web/yarn-debug.log*
pizzashop-web/yarn-error.log*
pizzashop-web/pnpm-debug.log*
pizzashop-web/lerna-debug.log*
pizzashop-web/node_modules
pizzashop-web/dist
pizzashop-web/dist-ssr
pizzashop-web/*.local
pizzashop-web/.vscode/*
pizzashop-web/!.vscode/extensions.json
pizzashop-web/.idea
pizzashop-web/.DS_Store
pizzashop-web/*.suo
pizzashop-web/*.ntvs*
pizzashop-web/*.njsproj
pizzashop-web/*.sln
pizzashop-web/*.sw?

pizzashop-api/node_modules
pizzashop-api/.env.local
pizzashop-api/dist

nano.39660.save